body {
  color: var(--baseFontColor);
  font-family: var(--baseFontFamily);
  font-size: var(--baseFontSize);
  line-height: var(--baseLineHeight);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--headingFontColor);
  font-family: var(--headingFontFamily);
  font-size: var(--headingFontSize);
  font-weight: var(--headingFontWeight);
  line-height: var(--headingLineHeight);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: var(--smallSpacing);
  margin-right: var(--smallSpacing);
}

h2{
  font-size: calc(var(--headingFontSize)/1.4);
}

h3{
  font-size: calc(var(--headingFontSize)/1.55);
}

h4{
  font-size: calc(var(--headingFontSize)/2);
}

h5{
  font-size: calc(var(--headingFontSize)/2.3);
}


p {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: var(--smallSpacing);
  margin-right: var(--smallSpacing);
}

a {
  color: var(--hiperlinkColor);
  text-decoration: underline;
  transition: color var(--baseDuration) var(--baseTiming);

  &:active,
  &:focus,
  &:hover {
    color: color(var(--actionColor));
  }
}

hr {
  border-bottom: var(--baseBorder);
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-top: var(--baseSpacing);
  margin-bottom: var(--baseSpacing);
}
